.container {
  background: rgba(255, 255, 255, 0.596);
  backdrop-filter: blur(20.5px);
  -webkit-backdrop-filter: blur(20.5px);
  width: 100%;
  height: 100%;
  transition: 0.2s background ease;
  transition: 0.2s border ease;
  border-radius: 6px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
  transition: 0.2s background, 0.2s color;
  color: black;
  animation: 0.3s Pop;
  animation-timing-function: cubic-bezier(0, 1, 0.5, 1.08);
  transition: 0.2s transform ease, 0.2s opacity ease;
}
.container.close {
  transform: scale(0.8);
  opacity: 0.4;
}

@keyframes Pop {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}

[data-theme="dark"] .container {
  background: rgba(3, 21, 41, 0.774);
  color: #fff;
}
.titlebar {
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 0 0 8px;
}
.title_icon {
  height: 18px;
  width: 18px;
}
.window_actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px;
  margin-left: 4px;
  margin-right: 4px;
  padding: 5px 12px;
  transition: 0.2s color ease, 0.2s transform ease;
  cursor: pointer;
  border-radius: 4px;
}
.icon:active {
  transform: scale(0.9);
}
[data-theme="dark"] .icon.close:hover,
.icon.close:hover {
  background: rgba(255, 0, 0, 0.562);
}
.icon:hover {
  background: rgba(255, 255, 255, 0.555);
}

[data-theme="dark"] .icon:hover {
  background: rgba(48, 49, 51, 0.774);
}

.title_stuff {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: -3px 0 0 0;
}
.title_stuff p {
  font-size: 13px;
  font-weight: lighter;
  letter-spacing: 0.5px;
  margin-left: 5px;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100% - 32px);
  overflow: hidden;
}
.content h4 {
  font-size: 20px;
  font-weight: 400;
}
.content_image {
  width: clamp(40px, 40%, 200px);
}
