.context_menu {
  --background_light: rgb(255, 255, 255);
  --background_dark: rgba(3, 21, 41, 0.493);
  --text-light: #000;
  --text-dark: #fff;
  display: flex;
  flex-direction: column;
  background: var(--bg-color);
  backdrop-filter: blur(20.5px);
  -webkit-backdrop-filter: blur(20.5px);
  color: var(--text-color);
  position: absolute;
  top: 30%;
  left: 50%;
  border-radius: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  min-width: 200px;

  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.031),
    0 6.7px 5.3px rgba(0, 0, 0, 0.044), 0 12.5px 10px rgba(0, 0, 0, 0.055),
    0 22.3px 17.9px rgba(0, 0, 0, 0.066), 0 41.8px 33.4px rgba(0, 0, 0, 0.079),
    0 100px 80px rgba(0, 0, 0, 0.11);
  animation: pop 0.2s ease-in-out;
  transform-origin: top left;
}

@keyframes pop {
  from {
    transform: scale(0);
  }
  90% {
    transform: scale(1.05);
  }
  to {
    transform: scale(1);
  }
}

.context_item {
  padding: 4px 8px;
  font-size: 13px;
  margin: 2px;
  cursor: pointer;
  transition: 0.1s all ease-in;
  border-radius: 6px;
}

.context_item:hover {
  background-color: rgb(233, 233, 233);
}
[data-theme="dark"] .context_item:hover {
  background-color: rgba(3, 21, 41, 0.603);
}

.context_item:active {
  transform: scale(0.95);
}
.context_divider {
  width: 100%;
  height: 1px;
  background-color: rgba(167, 167, 167, 0.562);
  margin-top: 2px;
  margin-bottom: 2px;
}

.inner_container {
  padding-left: 15px;
  padding-right: 15px;
}
