.container {
  height: calc(100vh - 70px);
  background: rgba(255, 255, 255, 0.226);
  backdrop-filter: blur(20.5px);
  -webkit-backdrop-filter: blur(20.5px);

  border-radius: 6px;
  transition: 0.2s background ease;
  display: flex;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
  position: absolute;
  top: 10px;
  left: 10px;
  width: clamp(400px, 40%, 1000px);

  transition: 0.2s background ease;
  animation: 0.4s slideIn;
  animation-timing-function: cubic-bezier(0.3, 0.5, 0, 1);

  padding: 10px 4%;

  display: flex;
  flex-direction: column;
}
.container.hide {
  animation: 0.2s slideout ease;
}

[data-theme="dark"] .container {
  background: rgba(47, 70, 95, 0.37);
  color: #fff;
}

.userImage {
  position: absolute;
  top: 15px;
  right: 15px;
}
.userImage img {
  border-radius: 50%;
  width: 30px;
}
@keyframes slideIn {
  from {
    transform: translate(-100%, 0%);
  }
  to {
    transform: translate(0%, 0%);
  }
}
@keyframes slideout {
  from {
    transform: translate(0%, 0%);
  }
  to {
    transform: translate(-100%, 0%);
  }
}

.searchBar {
  background-color: rgba(255, 255, 255, 0.411) !important;
  border: none !important;
  margin-top: 10px;
}
[data-theme="dark"] .searchBar {
  background-color: rgba(33, 36, 48, 0.568) !important;
}

.widgets_conatiner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
