.search_container {
  --search-bg: ;
  display: flex;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 3px 5px 0 rgba(0, 0, 0, 0.1);
  border-bottom: 2px rgb(68, 137, 170) solid;
  /* border-bottom: 2px #0384c0 solid; */
  padding-left: 17px;
  padding-right: 17px;
  transition: 0.2s all ease;
}
[data-theme="dark"] .search_container {
  background-color: rgb(24, 34, 61);
  color: #fff;
}

.search_input {
  width: 100%;
  border: none;
  outline: none;
  /* padding: 12px 17px; */
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 5px;
  padding-left: 5px;
  background-color: transparent;
  /* flex */
}

[data-theme="dark"] .search_input {
  color: #fff;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex: 1; */
}
